{% extends 'base.html' %}
{% block content %}
    <section>
        <div class="content">
            <div class="left">
                <img src="https://i.postimg.cc/8CCmX23W/icon.png" alt="icon">
                <h1>LINKEM</h1>
            </div>
  
            <div class="right">
                <div class="title">
                    <h2>LOGIN</h2>
                </div>
                <div class="form">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{form.as_p}}
                        <button type="submit">Login</button>
                    </form>
                    <br><br>
                    <p>Don't have an account? Register <a href="{%url 'register'%}">here</a></p>
                </div>
            </div>
  
        </div>
    </section>
   
   

{% endblock content %}